@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --beige-100: #fef3e2;
    --beige-200: #f0e6d6;
    --granat: #000d28; 
    --beige-light: #B58F54;
    --font-inter: 'Inter', system-ui, sans-serif;
    --font-roboto: 'Roboto', system-ui, sans-serif;
    --font-cinzel: 'Cinzel', system-ui, serif;
  }
  html {
    font-family: var(--font-inter), sans-serif;
  }
}

@layer utilities {
  .bg-beige-100 { background-color: var(--beige-100); }
  .bg-beige-200 { background-color: var(--beige-200); }
  .bg-granat { background-color: var(--granat); }
  .hover\:bg-granat:hover { background-color: var(--granat); }
  .text-beige-100 { color: var(--beige-100); }
  .text-beige-200 { color: var(--beige-200); }
  .text-beige-light { color: var(--beige-light); }
  .icon-beige-100 {
    filter: sepia(73%) saturate(278%) hue-rotate(357deg) brightness(93%) contrast(88%);
  }
  .font-cinzel {
    font-family: var(--font-cinzel), serif;
  }
}
